.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  /* background-color: #7a7c7a; */
  background: linear-gradient(135deg, #4CAF4F, #2f2e7d);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.scroll-to-top:hover {
  background-color: #388E3C;
  transform: scale(1.1);
}

@keyframes slideLeftRight {
  0%, 100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(10px); /* Move 10px to the right */
  }
}

.social-iconsscroll {
  position: fixed;
  top: 200px;
  left: 10px; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
  animation: slideLeftRight 5s ease-in-out infinite; 
}

.social-iconsscroll a {
  text-decoration: none;
  font-size: 15px;
  background: linear-gradient(135deg, #4CAF4F, #2f2e7d);
  color: white;
  padding: 4px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-iconsscroll a:hover {
    background: linear-gradient(135deg, #23df29, #2f2e7d);

}
@media (max-width: 768px) {
  .social-iconsscroll {
    display: none;
  }
}
