.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding: 6px;
  border-radius: 12px;
}

.swiper-pagination-bullet {
  background-color: #b0bec5;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: rgba(76, 175, 79, 1);
  transform: scale(1.2);
}
