.recent-projects-section {
  margin: 0px auto;
  text-align: center;
  position: relative;
  padding: 40px 0px; 
}

.project-slide {
  transition: transform 0.3s ease;
  text-align: center;
  filter: grayscale(50%);
  transform-origin: center bottom;
}

.project-slide img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 280px;

  object-position: top; 

}

.slick-center .project-slide {
  /* opacity: 1 !important; */
  filter: none !important;
  transform: scale(2.5);
  z-index: -9999;
}

/* Medium slides next to center */
.slick-center + .slick-slide .project-slide,
.slick-center ~ .slick-slide + .slick-slide .project-slide {
  transform: scale(1);
  /* opacity: 1; */
  filter: none;
  z-index: -9999;
}

/* All other active slides */
.slick-slide.slick-active:not(.slick-center) .project-slide {
  transform: scale(0.85);
  /* opacity: 0.4; */
  filter: grayscale(40%);
  z-index: -9999;

}


/* Hide default arrows */
/* .slick-arrow {
  display: none !important;
} */

/* Arrow container below slider */
.arrow-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.custom-arrow {
  background-color: #04275B;
  /* border: 2px solid #000000; */
  border: none;
  color: white;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-arrow:hover {
  background-color: #034a99;
}
