/* Leadership Section */
.datanovel-leadership-section {
    padding: 30px 20px;
    background: #02002B;
}

.leadership-header h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.leadership-header p {
    font-size: 18px;
    color: #FFFFFF;
    max-width: 700px;
    margin: 0 auto 40px;
}

/* Cards container */
.datanovel-leadership-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
    max-width: 1000px;
    margin: 0 auto;
}

/* Individual card */
.datanovel-leadership-card {
    background: #fff;
    border-radius: 10px;
    flex: 1 1 280px; 
    max-width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.datanovel-leadership-card:hover {
    /* transform: translateY(-5px); */
}

/* Card image */
.datanovel-leadership-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
    background-color: #D9D9D9;
    padding: 20px; /* adjust padding */
}

/* Card info */
.datanovel-leadership-info {
    margin: 10px;
    padding: 0px 5px;
}

.datanovel-leadership-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.datanovel-leadership-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

/* Carousel Arrows Wrapper */
.custom-arrows-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}

/* Carousel Buttons */
.custom-arrow{
    color: #FFFFFF !important;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50%;
    height: 35px; 
    width: 35px;
    cursor: pointer;
    background-color: #6DE975 !important;
}


